---
import AboutDetail from "./AboutDetail.astro";
---

<section class="bg-slate-700">
    <div class="py-10 mx-8 text-gray-300 lg:mx-20">
        <h2 class="text-3xl mb-3 2xl:text-5xl">About Us</h2>
        <p class="leading-7 mb-3 lg:w-2/3">Welcome to Capturing Life’s Moments, where memories are frozen in time by our professional photographers. Our photo studio company specializes in capturing cherished moments you can treasure for a lifetime. Our experienced team of photographers provides extraordinary service, ensuring each client receives the perfect shot.</p>
        <div class="flex flex-col w-1/2 md:flex-row md:justify-between">
            <AboutDetail title="100+" description="Events Captured" />
            <AboutDetail title="50+" description="Prestigious Awards" />
            <AboutDetail title="10" description="Years Experience" />
        </div>
    </div>
</section>