<section class="mt-10 mb-5 mx-8 md:mx-20 md:mt-20">
    <div class="flex flex-col md:flex-row md:justify-start">
        <div class="flex flex-col mb-6 md:mr-40 2xl:mr-72">
            <p class="font-bold mb-2">Company</p>
            <a href="#about" class="mb-1">About</a>
            <a href="#plan" class="mb-1">Pricing</a>
            <a href="#gallery" class="mb-1">Gallery</a>
        </div>
        <div class="flex flex-col mb-6 md:mr-40 2xl:mr-72">
            <p class="font-bold mb-2">Support</p>
            <a href="#faq" class="mb-1">FAQ</a>
            <a href="#booking" class="mb-1">Booking</a>
            <a href="#contact" class="mb-1">Contact</a>
        </div>
        <div class="flex flex-col mb-6 md:mr-40 2xl:mr-72">
            <p class="font-bold mb-2">Social</p>
            <a href="" class="mb-1">Facebook</a>
            <a href="" class="mb-1">Instagram</a>
            <a href="" class="mb-1">Twitter</a>
        </div>
    </div>
    <div class="flex flex-col mt-2 md:flex-row md:justify-between">
        <p class="text-sm">© 2023 Capturing Life’s Moments</p>
        <div>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>