---
import Card from "./Card.astro";
---

<section class="my-10 mx-8 md:my-20">
    <div class="flex flex-col md:flex-row md:justify-center">
        <Card title="Essentials" price={99} points="1 Photoshoot;10 Final;2 Retouched;Online Gallery" href="#" />
        <Card title="Premium" price={199} points="2 Photoshoot;20 Final;5 Retouched;Online Gallery" href="#" />
        <Card title="Ultimate" price={299} points="Unlimited Photoshoot;40 Final;10 Retouched;Online Gallery" href="#" />
    </div>
</section>